<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.GoodsDao">
    <resultMap id="GoodsResult" type="com.pojo.Goods">
        <id property="goodsId" column="goods_id"/>
        <result property="goodsName" column="goods_name"/>
        <result property="goodsPrice" column="goods_price"/>
        <result property="goodsDesc" column="goods_desc"/>
        <result property="goodsType" column="goods_type"/>
        <result property="goodsImg" column="goods_img"/>
        <result property="goodsStock" column="goods_stock"/>
        <result property="goodsStatus" column="goods_status"/>
        <result property="storeId" column="store_id"/>
    </resultMap>
    <select id="getGoods" parameterType="int" resultMap="GoodsResult">
        select * from goods where goods_id=#{goodsId}
    </select>

    <update id="updateGoodsStock" parameterType="int">
        update goods  set goods_stock = goods_stock - #{goodsNum} where goods_id = #{goodsId}
    </update>

</mapper>