<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.OrderDao">
    <resultMap id="OrderResult" type="com.pojo.Orders">
        <id column="order_id" property="orderId"/>
        <result property="userId" column="user_id"/>
        <result property="orderStatus" column="order_status"/>
        <result property="addressId" column="address_id"/>

        <collection property="orderdetails" ofType="com.pojo.Orderdetails">
            <id property="orderdetailsId" column="orderdetails_id"/>
            <result property="goodsId" column="goods_id"/>
            <result property="goodsNum" column="goods_num"/>
            <result property="orderId" column="order_id"/>
        </collection>
    </resultMap>
    <insert id="addOrder" parameterType="OrderResult">
        insert into  orders(user_id,address_id,order_date,order_status) VALUES (userId,addressId,SYSDATE(),orderStatus)
    </insert>
    <select id="getOrdersByUserId" resultMap="OrderResult" parameterType="int">
        select * from orders o,orderdetails od where o.user_id=#{userId} and od.order_id=o.order_id
    </select>

    <select id="getNotTakeOverOrder" resultMap="OrderResult" parameterType="int">
        select * from orders o,orderdetails od where o.user_id=#{userId} and od.order_id=o.order_id and o.order_status=2
    </select>
    <select id="getTakeOverOrder" resultMap="OrderResult" parameterType="int">
        select * from orders o,orderdetails od where o.user_id=#{userId} and od.order_id=o.order_id and o.order_status=3
    </select>
    <update id="takeover" parameterType="int">
        update orders set  order_status=3  where order_id=#{orderId};
    </update>
    <update id="notTakeover" parameterType="int">
        update orders set  order_status=2  where order_id=#{orderId};
    </update>

</mapper>