<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.ShoppingcartDao">
    <resultMap id="ShoppingcartResult" type="com.pojo.Shoppingcart">
        <id column="shoppingCart_id" property="shoppingCartId"/>
        <result column="user_id" property="userId"/>
        <result column="goods_id" property="goodsId"/>
        <result column="goods_num" property="goodsNum"/>
        <association property="goods" javaType="com.pojo.Goods">
            <id property="goodsId" column="goods_id"/>
            <result property="goodsName" column="goods_name"/>
            <result property="goodsPrice" column="goods_price"/>
            <result property="goodsDesc" column="goods_desc"/>
            <result property="goodsType" column="goods_type"/>
            <result property="goodsImg" column="goods_img"/>
            <result property="goodsStock" column="goods_stock"/>
            <result property="goodsStatus" column="goods_status"/>
            <result property="storeId" column="store_id"/>
        </association>
    </resultMap>
    <insert id="addGoodsToShoppingcart" parameterType="com.pojo.Shoppingcart">
        insert into shoppingcart(user_id, goods_id, goods_num) VALUES (#{userId},#{goodsId},#{goodsNum})
    </insert>
    <select id="selectShoppingcartByUserId" parameterType="int" resultMap="ShoppingcartResult">
        select * from shoppingcart where user_id=#{userId}
    </select>
    <delete id="deleteShopingCart" parameterType="int">
        DELETE  from shoppingcart where shoppingCart_id=#{shoppingCartId}
    </delete>

</mapper>